button {
  outline: none;
  border: none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 0.75rem;
  width: 100%;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &.primary-button {
    background-color: #ff007b;
    color: white;
    &:hover {
      background-color: #b3005f;
    }

  }
}
